*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*MENU*/

.menu{
    background-color: rgb(113, 80, 204);
    width: 100%;
    position: sticky;
    padding: 5px;
    z-index: 999;
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: 'Noto Serif',serif;
    font-style: italic;
    margin-bottom: 60px;
}

.menu a{
    display: inline-block;
    padding: 35px 10px;
    font-size: 30px;
    transition: .5s ease all;
    color: black;
    text-decoration: none;
}

.menu a:hover{
    transform: translateY(18px);
    background-color: rgb(241, 241, 241);
}

h3{
    
    display: inline-block;
    padding: 30px 100px;
    font-size: 45px;
    transition: .5s ease all;
    color: var(--gray-light);
    text-decoration: none;
}